<body>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 style="font-size: 40px;" >Hola</h1>
        <h3 class="lead"style="margin-top: 16px; font-size: 25px;">Bienvenido al módulo de Operación Logística</h3>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <a (click)="navigateToLoadPage()" class="card custom-card">
          <div class="card-body text-center">
            <h2 class="card-title" style="font-size: 20px; margin-bottom: 0px;">Realizar Cargue Masivo</h2>
          </div>
        </a>
      </div>

      <div class="col-md-6">
        <a (click)="navigateToPedidosPage()" class="card custom-card">
          <div class="card-body text-center">
            <h2 class="card-title"style="font-size: 20px; margin-bottom: 0px;">Gestionar Rutas</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
